.sign-in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #0f172a;
    width: 340px;
    position: relative;
}


 .error-message{
    font-size: 1rem;
    color: #ef4444;
    text-align: center;
}

 .lock-icon{
    font-size: 1.2rem;
    color: black;
    position: absolute;
    top: -1.3rem;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid white;
    color: white;
    border-radius: 50%;
    padding: 0.5rem;
}

h1{
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-weight: normal;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.form-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.form-content .section{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;


}

.form-content .label{
    font-size: 0.8rem;
    font-weight: normal;
    color: #94a3b8;
}

.form-content .input{
    padding: 0.5rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: #1e293b;
    color: white;
    height: 1.7rem;
}

.form-content .small_error{
    font-size: 0.7rem;
    color: #ef4444;
}


.form-content .submit-button{
    padding: .8rem;
    display: flex;
    justify-content: center;

    border-radius: 0.5rem;
    font-size: 1rem;
    border: none;
    width: 100%;
    background-color: #3b82f6;
    color: white;
    cursor: pointer;
    margin-top: 2rem;
    height: auto;
}


.form-content .submit-button:disabled {
    background-color: #1e293b;
    color: #475569;            
    cursor: not-allowed;       
    opacity: 0.5;
    border: 1px solid #334155;
}